<div class="modal-body">
  <div class="table-container">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <th scope="row"><strong>Task Name: </strong>{{ taskResponse?.taskName }}</th>
          <th><strong>Task Date:</strong> {{ taskResponse?.taskDate }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <div class="hstack gap-2 justify-content-end">
    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
      Close
    </button>
  </div>
</div>
