.modal-header {
  display: flex;
  justify-content: space-between; /* Space between title and close button */
  align-items: center; /* Center vertically */
  padding: 1rem; /* Adjust padding if needed */
}

.file-upload {
  display: none;
}
