<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
          <h4 class="mb-sm-0">Expenses</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header border-0">
            <div class="row g-4 align-items-center">
              <div class="col-sm-auto ms-auto">
                <div class="hstack gap-2">
                  <button class="btn btn-soft-danger" id="remove-actions" onClick="deleteMultiple()">
                    <i class="ri-delete-bin-2-line"></i>
                  </button>
                  <!-- <button type="button" class="btn btn-success add-btn" (click)="openModal()">
                    <i class="ri-add-line align-bottom me-1"></i> Add Expense
                  </button> -->
                  <button type="button" class="btn btn-info material-shadow-none" (click)="exportExpenses($event)">
                    Export </button>
                  <!-- <span class="dropdown">
                    <button class="btn btn-soft-info btn-icon fs-14" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="ri-settings-4-line"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li>
                        <a class="dropdown-item" href="#" (click)="exportExpenses($event)">Export To Excel</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#" (click)="exportCSVExpenses($event)">Export to CSV</a>
                      </li>
                    </ul>
                  </span> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div>
              <div class="table-responsive table-card">
                <table class="table align-middle" id="customerTable">
                  <thead class="table-light">
                    <tr>
                      <th class="text-center">Expense No.</th>
                      <th class="text-center">Expense Date</th>
                      <th class="text-center">Customer Name</th>
                      <th class="text-center">Meeting date</th>
                      <th class="text-center">Check In Time</th>
                      <th class="text-center">Check Out Time</th>
                      <th class="text-center">Dist. In KM</th>
                      <th class="text-center">Req. Id/Date</th>
                      <th class="text-center">RTGS No.</th>
                      <th class="text-center">Amount</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Action</th>
                    </tr>
                    <tr>
                      <th>
                        <input type="text" [(ngModel)]="filters['expenseId']" (input)="getExpenses()"
                          class="form-control" />
                      </th>
                      <th>
                        <div class="input-group">
                          <input width="100%" class="form-control" placeholder="dd/mm/yyyy" name="d2" #c2="ngModel"
                            [(ngModel)]="filters['ExpenseDate']" ngbDatepicker (ngModelChange)="getExpenses()"
                            #d2="ngbDatepicker" readonly />
                          <span role="button" (click)="clearDate()" tabindex="0" class="ng-clear-wrapper clear-wrapper"
                            title="Clear date" *ngIf="filters['ExpenseDate']">
                            <span aria-hidden="true" class="ng-clear clear">×</span>
                          </span>
                          <button class="btn btn-sm btn-outline-secondary ri-calendar-line" (click)="d2.toggle()"
                            type="button"></button>
                        </div>
                      </th>
                      <th>
                        <input type="text" [(ngModel)]="filters['CompanyName']" (input)="getExpenses()"
                          class="form-control" />
                      </th>
                      <th>
                        <div class="input-group">
                          <input width="100%" class="form-control" placeholder="dd/mm/yyyy" name="d4" #c2="ngModel"
                            [(ngModel)]="filters['ExpenseDate']" ngbDatepicker (ngModelChange)="getExpenses()"
                            #d4="ngbDatepicker" readonly />
                          <span role="button" (click)="clearmeetingDate()" tabindex="0"
                            class="ng-clear-wrapper clear-wrapper" title="Clear date" *ngIf="filters['ExpenseDate']">
                            <span aria-hidden="true" class="ng-clear clear">×</span>
                          </span>
                          <button class="btn btn-sm btn-outline-secondary ri-calendar-line" (click)="d4.toggle()"
                            type="button"></button>
                        </div>
                      </th>
                      <th>
                        <input type="text" [(ngModel)]="filters['CheckIn']" (input)="getExpenses()"
                          class="form-control" />
                      </th>
                      <th>
                        <input type="text" [(ngModel)]="filters['CheckOut']" (input)="getExpenses()"
                          class="form-control" />
                      </th>
                      <th>
                        <input type="text" [(ngModel)]="filters['DistanceTravelled']" (input)="getExpenses()"
                          class="form-control" />
                      </th>

                    
                      <th>
                        <!-- <input type="text" [(ngModel)]="filters['requestDate']" (input)="getExpenses()"
                          class="form-control" /> -->
                      </th>
                      <th></th>
                      <th>
                        <input type="number" [(ngModel)]="filters['Amount']" (input)="getExpenses()"
                          class="form-control" />
                      </th>
                      <th>
                        <input type="text" [(ngModel)]="filters['Status']" (input)="getExpenses()"
                          class="form-control" />
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="list form-check-all">
                    <tr *ngFor="let expense of expenses; let i = index">
                      <td class="text-center truncate-text">{{ expense.expenseId ? expense.expenseId:'--' }}</td>
                      <td class="text-center truncate-text">{{ expense.expenseDate ? expense.expenseDate:'--' }}</td>
                      <td class="text-center truncate-text">{{expense.companyName?expense.companyName:'--'}}</td>
                      <td class="text-center truncate-text">{{ expense.expenseDate ? expense.expenseDate:'--' }}</td>
                      <td class="text-center truncate-text">{{expense.checkIn? expense.checkIn:'--'}}</td>
                      <td class="text-center truncate-text">{{expense.checkOut?expense.checkOut:'--'}}</td>
                      <td class="text-center truncate-text">{{expense.distanceTravelled?expense.distanceTravelled:'--'}}</td>
                      <td class="text-center truncate-text">{{expense.requestDate!=='01/01/1900' ? (expense.requestDate):'--' }}
                      </td>
                      <td class="text-center"></td>
                      <td class="text-center truncate-text">{{ expense.amount ? expense.amount:'--' }}</td>
                      <td class="text-center truncate-text">{{ expense.status ? expense.status:'--' }}</td>
                      <td class="text-center">
                        <ul class="list-inline hstack gap-2 mb-0">
                          <li *ngIf="expense.expenseCreated"
                            class="list-inline-item disabled-icon bg-color d-flex justify-content-center align-items-center"
                            data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top"
                            title="Add Expense">
                            <a class="edit-item-btn white">+</a>
                          </li>
                          <li *ngIf="!expense.expenseCreated"
                            class="list-inline-item disabled-icon bg-blue d-flex justify-content-center align-items-center"
                            data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top"
                            title="Add Expense">
                            <a class="edit-item-btn" (click)="editModal($event, expense,'AddExpense')">+</a>
                          </li>
                          <li *ngIf="!expense.expenseCreated || expense.isEdit === 'N'"
                            class="list-inline-item disabled-icon bg-color d-flex justify-content-center align-items-center"
                            data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top"
                            title="Edit Expense">
                            <a class="edit-item-btn "><i class="ri-pencil-fill align-bottom text-muted"></i></a>
                          </li>
                          <li *ngIf="expense.isEdit === 'Y'"
                            class="list-inline-item disabled-icon bg-blue d-flex justify-content-center align-items-center"
                            data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top"
                            title="Edit Expense">
                            <a class="edit-item-btn" (click)="editModal($event, expense,'EditExpense')"><i
                                class="ri-pencil-fill align-bottom text-muted"></i></a>
                          </li>
                          <li
                            class="list-inline-item disabled-icon bg-blue d-flex justify-content-center align-items-center"
                            data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top"
                            title="View Expense">
                            <a (click)="viewModal($event, expense)"><i
                                class="ri-eye-fill align-bottom text-muted"></i></a>
                          </li>
                          <div *ngIf="userType === 'manager'||userType === 'MANAGER'">
                            <li
                              class="list-inline-item disabled-icon bg-blue d-flex justify-content-center align-items-center"
                              data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Approved"
                              (click)="approveModal($event, expense)">
                              <a href="#"><i class="bi bi-check2-circle"></i></a>
                            </li>
                          </div>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="noresult" *ngIf="expenses.length == 0">
                  <div class="text-center">
                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                      colors="primary:#121331,secondary:#08a88a" style="width: 75px; height: 75px"></lord-icon>
                    <h5 class="mt-2">Sorry! No Result Found</h5>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end mt-3" *ngIf="expenses.length != 0">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" [maxSize]="3"
                  (pageChange)="onPageChange($event)">
                </ngb-pagination>
              </div>
            </div>

            <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static"
            data-bs-keyboard="false">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <!-- <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="exampleModalLabel">
                      {{ expense }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                      id="close-modal"></button>
                  </div> -->
                  <app-add-expense (dataEmitter)="closeEditModal()" [expenseResponse]="selectedExpense"
                    [typeData]="expense"></app-add-expense>
                </div>
              </div>
            </div>

            <div class="modal fade" id="showModalDetail" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Expense Detail
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                      id="close-modal"></button>
                  </div>
                  <app-expense-detail [expenseResponse]="selectedExpense"></app-expense-detail>
                </div>
              </div>
            </div>

            <div class="modal fade" id="showApproveExpense" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Expense Approve
                    </h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                      id="close-modal"></button> -->
                  </div>
                  <app-approve-expense [expenseResponse]="selectedExpense"></app-approve-expense>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>