.modal-header {
    display: flex;
    justify-content: space-between; /* Space between title and close button */
    align-items: center; /* Center vertically */
    padding: 1rem; /* Adjust padding if needed */
}
.disabled-image {
    cursor: not-allowed;
    opacity: 0.5;
  }