<div class="app-menu navbar-menu">
  <div class="navbar-brand-box">
    <a href="index.html" class="logo logo-dark">
      <span class="logo-sm">
        <img src="assets/images/logo-sm.png" alt="" height="22" />
      </span>
      <span class="logo-lg">
        <img src="assets/images/logo-dark.png" alt="" height="17" />
      </span>
    </a>

    <a href="index.html" class="logo logo-light">
      <span class="logo-sm">
        <img src="assets/images/logo-sm.png" alt="" height="22" />
      </span>
      <span class="logo-lg">
        <img
          src="assets/images/logo_login.jpg"
          alt=""
          height="70"
          width="200"
        />
      </span>
    </a>
    <button type="button"
      class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
      id="vertical-hover">
      <i class="ri-record-circle-line"></i>
    </button>
  </div>

  <div id="scrollbar">
    <div class="container-fluid">
      <div id="two-column-menu"></div>
      <ul class="navbar-nav" id="navbar-nav">
        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="./customer">
            <i class="ri-user-2-line"></i>
            <span data-key="t-customers">Customer</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="./lead">
            <i class="ri-rocket-line"></i>
            <span data-key="t-lead">Lead</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="./meeting/list">
            <i class="ri-map-pin-line"></i>
            <span data-key="t-calendar">Meeting</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="./call/lists">
            <i class="ri-phone-line"></i>
            <span data-key="t-call">Call</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="./expense/lists">
            <i class="ri-compasses-line"></i>
            <span data-key="t-expense">Expense</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="./expense/general-master">
            <i class="ri-compasses-2-line"></i>
            <span data-key="t-expense">Expense General Master</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link menu-link"
          
            routerLink="./expense/approval"
          >
          <i class="ri-group-line"></i>
            <span data-key="t-expense">Expense Approval</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="./complaint/list">
            <i class="ri-stack-line"></i>
            <span data-key="t-complaint">Complaint</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="./task">
            <i class="ri-pages-line"></i>
            <span data-key="t-notes">Task</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="./my-calendar">
            <i class="ri-calendar-2-line"></i>
            <span data-key="t-calendar">My Calendar</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" routerLink="./attendance">
            <i class="ri-calendar-2-line"></i>
            <span data-key="t-calendar">Attendance</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="sidebar-background"></div>
</div>
<div class="vertical-overlay"></div>
