<div class="modal-body">
  <div class="table-container">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td><strong>Expense Code:</strong> {{ expenseResponse?.expenseId }}</td>
          <td><strong>Customer Name:</strong> {{ expenseResponse?.companyName }}</td>
        </tr>
        <tr>
          <td><strong class="me-2">Request ID:</strong> {{ expenseResponse?.requestID }}</td>
          <td><strong class="me-2">Meeting Date:</strong>{{ expenseResponse?.expenseDate }} </td>
        </tr>
        <tr>
          <td><strong class="me-2">Req. ID Date:</strong>{{ expenseResponse?.requestDate==='01/01/1900 00:00:00'?'--': expenseResponse?.requestDate |date :"dd/MM/yyyy" }}</td>
          <td><strong class="me-2">RTGS No.:</strong></td>
        </tr>
        <tr>
          <td><strong class="me-2">Expense Date:</strong> {{ expenseResponse?.expenseDate }}</td>
          <td><strong class="me-2">Transport Mode:</strong> {{ expenseResponse?.transportMode }}</td>
        </tr>
        <tr>
          <td><strong class="me-2">Checked Out Location:</strong> {{expenseResponse?.checkedInLocation}} </td>
          <td><strong class="me-2">Checked In Location:</strong> {{ expenseResponse?.checkedInLocation }}</td>
        </tr>
        <tr>
          <td><strong class="me-2">Distance In Km:</strong> {{ expenseResponse?.distanceTravelled }}</td>
          <td><strong class="me-2">Amount:</strong> {{ expenseResponse?.amount }}</td>
        </tr>
        <tr>
          <td class="supporting-Document"><strong class="me-2">Supporting Document:</strong>{{ expenseResponse?.supportingDocument }} </td>
          <td><strong class="me-2">Remarks:</strong> {{ expenseResponse?.remarks }}
        </tr>
        <tr>
          <td><strong class="me-2">Expense Added By:</strong> {{ expenseResponse?.expenseAddedBy }}</td>
          <td><strong class="me-2">Expense Added Date:</strong> {{ expenseResponse?.expenseAddedDate}}</td>
        </tr>
        <tr>
          <td><strong class="me-2">Expense Edited By:</strong> {{ expenseResponse?.expenseEditedBy }}</td>
          <td><strong class="me-2">Expense Edited Date</strong> {{ expenseResponse?.expensEditDate}}</td>
        </tr>
        <tr>
          <td><strong class="me-2">Approved By Manager:</strong> {{ expenseResponse?.approveByManagerName }}</td>
          <td><strong class="me-2">Manager Approved Date: </strong> {{ expenseResponse?.approvedManagerDate }}</td>
        </tr>
        <tr>
          <td><strong class="me-2">Approved By Auditor:</strong>{{ expenseResponse?.approvedByAuditorName }} </td>
          <td><strong class="me-2">Auditor Approved Date:</strong>{{ expenseResponse?.approvedByAuditDate }}</td>
        </tr>
        <tr>
          <td><strong class="me-2">Auditor Remarks:</strong>{{ expenseResponse?.auditRemark }}</td>
          <td><strong class="me-2">Manager Remarks:</strong>{{ expenseResponse?.managerRemark }}</td>
        </tr>
        <tr>
          <td><strong class="me-2">Status:</strong> {{ expenseResponse?.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="modal-footer">
  <div class="hstack gap-2 justify-content-end">
    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
      Close
    </button>
  </div>
</div>
